<% 
  const priceForm = (p) => {
    const price = 'Rp. ';
    const angka = p.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ".");

    return price + angka;
  }

  const products = db[0];
  const owner = db[1];

  let category = [];
  const unique = (value, index, self) => {
    return self.indexOf(value) === index;
  }

  products.forEach(e => {
    let filtered = e.category.charAt(0).toUpperCase() + e.category.substring(1);
    category.push(filtered);
  })

  category = category.filter(unique);
  category = category.sort()
%>

<!-- hero -->
<div class="hero g-gray-100 py-16">
    <!-- container -->
    <div class="px-4 sm:px-8 lg:px-16 xl:px-20 mx-auto">
        <!-- hero wrapper -->
        <div class="grid grid-cols-1 md:grid-cols-12 gap-8 items-center">

            <!-- hero text -->
            <div class="col-span-6">
              <h1 class="font-bold text-4xl md:text-5xl max-w-xl text-gray-900 leading-tight">Little-f</h1>
              <hr class="w-12 h-1 bg-orange-500 rounded-full mt-8">
              <p class="text-gray-800 text-base leading-relaxed mt-8 font-semibold">Berbelanja dimanapun kamu mau. Kami hanya menjual baranag bekas berkualitas</p>
              <div class="get-app flex space-x-5 mt-10 justify-center md:justify-start">
                <button class="bg-white shadow-md px-3 py-2 rounded-lg flex items-center space-x-4">
                  <div class="logo">
                    <img src="img/shopee.png" alt="shopee">
                  </div>
                  <div class="text">
                      <p class=" text-xs text-gray-600" style="font-size: 0.5rem;">Order melalui</p>
                      <p class=" text-xs font-semibold text-gray-900">Shopee</p>
                  </div>
                </button>
                <button class="bg-white shadow-md px-3 py-2 rounded-lg flex items-center space-x-4">
                  <div class="image">
                    <img src="img/tokopedia.png" alt="tokopedia">
                  </div>
                  <div class="text">
                      <p class="text-xs text-gray-600" style="font-size: 0.5rem;">Order melalui</p>
                      <p class="text-xs font-semibold text-gray-900">Tokopedia</p>
                  </div>
                </button>
              </div>
            </div>
            <!-- hero image -->
            <div class="col-span-6 grid justify-items-center">
              <img src="/img/shopping.svg" class="w-9/12" alt="www.flaticon.com">
            </div>
        </div>
    </div>
</div>
  
  <!-- end hero -->
<div class="grid justify-items-center">

<!-- produk unggulan --> 
<div class="bg-yellow-400 mx-0 w-full overflow-hidden">
  <h4 class="text-center p-3 text-xl font-bold">Produk unggulan kami :</h4>
  <div class="flex overflow-x-scroll">
    <div class="flex flex-nowrap">
      <% let best = products.filter(p => p.bestProduct == 'Y') %>
        <% if (best.length == 0) { %>
          <h5 class="text-center mt-5 mb-5 text-xl font-bold">Belum ada produk</h5>
        <% } %>
        <% best.forEach(product => { %>
          <% const img = JSON.parse(product.image) %>      
          <div class="inline-block" data-aos="fade-up" data-aos-delay="100" data-aos-once="true">
            <div class="product-card flex-shrink-0 m-6 relative overflow-hidden rounded-lg max-w-xs shadow-lg bg-local bg-cover h-96 bg-center hover:shadow-2xl hover:scale-105 transition-all transform duration-500 static shadow-xl w-96" style="background-image: url(<%= img[0] %>)">
              <div class="relative pt-10 px-10 flex items-center justify-center">
                <div class="block absolute w-48 h-48 bottom-0 left-0 -mb-24 ml-3" style="background: radial-gradient(black, transparent 60%); transform: rotate3d(0, 0, 1, 20deg) scale3d(1, 0.6, 1); opacity: 0.2;"></div>
              </div>
              <div class="static text-white px-6 pb-6 mt-6">
                <span class="ribbon">SPESIAL</span>
                <h4 class="absolute block bottom-14 z-10 font-semibold text-xl pb-4"><%= product.name %></h4>
                <h4 class="absolute block bg-white bottom-5 left-5 z-10 rounded-full text-green-500 font-bold py-2 px-3 w-max"><%= priceForm(product.price) %></h4>                 
                <a class="absolute inline-block bottom-5 z-10 right-5 ml-auto bg-blue-500 rounded-full text-white font-bold py-2 px-3 w-max" href="/product/<%= product.id %> ">Detail</a> 
              </div>
            </div>
          </div>
      <% }) %>
    </div>
  </div>
</div>
<!-- akhir produk unggulan -->

  <%- include('about.html') %>

    <!-- semua produk -->
  <div class="shadow-xl bg-gray-100 my-5 w-11/12 mx-auto" id="allProducts">

   <!-- component -->
    <div class="flex justify-center">
      <div class="group inline-block z-20 relative mt-5">
        <button class="outline-none focus:outline-none border px-3 py-1 bg-blue-500 rounded-sm flex items-center w-96 rounded-full">
          <span class="pr-1 font-semibold text-white flex-1">Filter Produk</span>
          <span>
            <svg class="fill-current h-4 w-4 transform group-hover:-rotate-180 transition duration-150 ease-in-out text-white" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
              />
            </svg>
          </span>
        </button>
        <div class="bg-blue-500 border absolute rounded-sm transform scale-0 group-hover:scale-100 absolute transition duration-150 ease-in-out origin-bottom block w-96">
          <button class="block px-3 py-1 hover:bg-gray-100 w-96" onclick="filterSelection('all')">Semua Produk</button>
          <% category.forEach(e => { %>
            <button class="block px-3 py-1 hover:bg-gray-100 w-96" onclick="filterSelection('<%= e.toLowerCase() %>')"><%= e %></button>         
          <% }) %>
          </div>
      </div>
    </div>

    <div class="flex flex-wrap justify-center">      
      <% if (products.length == 0) { %>
        <h5 class="text-center mt-5 mb-5 text-xl font-bold">Belum ada produk</h5>
      <% } %>
      <% products.forEach(product => { %>
        <% const img = JSON.parse(product.image) %>

          <div data-aos="fade-up" data-aos-delay="100" data-aos-once="true">
            <div class="product-card <%= product.category.toLowerCase() %> flex-shrink-0 m-6 relative overflow-hidden rounded-lg max-w-xs shadow-lg bg-local bg-cover h-96 bg-center hover:shadow-2xl hover:scale-105 transition-all transform duration-500 static shadow-xl w-96" style="background-image: url(<%= img[0] %>)">
              <div class="relative pt-10 px-10 flex items-center justify-center">
                <div class="block absolute w-48 h-48 bottom-0 left-0 -mb-24 ml-3" style="background: radial-gradient(black, transparent 60%); transform: rotate3d(0, 0, 1, 20deg) scale3d(1, 0.6, 1); opacity: 0.2;"></div>
              </div>
              <div class="static text-white px-6 pb-6 mt-6">
                <% if (product.bestProduct == 'Y') { %>
                  <span class="ribbon">SPESIAL</span>
                <% } %> 
                <h4 class="absolute block bottom-14 z-10 font-semibold text-xl pb-4"><%= product.name %></h4>
                <h4 class="absolute block bg-white bottom-5 left-5 z-10 rounded-full text-green-500 font-bold py-2 px-3 w-max"><%= priceForm(product.price) %></h4>                 
                <a class="absolute inline-block bottom-5 z-10 right-5 ml-auto bg-blue-500 rounded-full text-white font-bold py-2 px-3 w-max" href="/product/<%= product.id %> ">Detail</a>
              </div>
            </div>
          </div>
        <% }) %>
      </div>
  </div>
</div>
    <!-- akhir semua produk -->

  <!-- product end -->

    <!-- kontak -->
    <div class="container text-center" id="contact">
      <div class="row justify-content-center">
        <div class="col-md-7">
          <h4 class="mb-4">Hubungi kami</h4>
          <div class="mb-5">
            <div class="container border p-3 rounded-3">
              <h6 class="mb-3">Chat langsung melalui Whatsapp</h6>
              <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                <label for="floatingTextarea2">Tulis pesan Whatsapp anda disini</label>
                <div class="d-grid col-3 mx-auto">
                  <a href="https://api.whatsapp.com/send?phone=<%= owner[0].whatsapp %>&text={{ pesan | deleteSpace}}" class="btn mt-3 whatsapp bi bi-whatsapp text-white" role="button" target="blank">&nbsp;Kirim</a>
                </div>
              </div>
            </div>
          </div>
          <div class="container border p-3 rounded-3">
            <h6 class="mb-3">Atau melalui email</h6>
            <div class="mb-3">
              <div class="alert alert-success alert-dismissible fade show d-none" role="alert">
                <strong>Terimakasih</strong> pesan anda sudah kami terima. Kami akan segera menghubungi anda.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              <form method="post" action="/sendmail">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" placeholder="Subject" name="subject" id="subject">
                  <label for="subject">Subject</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" placeholder="Nama Kamu" name="name" id="name">
                  <label for="name">Nama</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="email" class="form-control" placeholder="name@example.com" name="email" id="email">
                  <label for="email">Alamat email</label>
                </div>
                <div class="form-floating">
                  <textarea class="form-control" placeholder="Leave a comment here" id="text" style="height: 150px" name="text" id="text"></textarea>
                  <label for="text">Pesan</label>
                </div>
                <button type="submit" class="btn btn-primary mt-3 col-3 mx-auto" value="submit">Kirim</button>                
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Whatsapp -->
    <% if (!locals.isLoggedIn) { %>
      <div class="whatsapp-logo shadow">
        <a href="https://api.whatsapp.com/send?phone=6289632943033&text=Halo%20admin%20Little-f" class="text-decoration-none d-block" target="_blank"><em class="bi bi-whatsapp"></em></a>
      </div>  
    <% } %>
    <!-- Whatsapp end -->
    <!-- kontak end -->
    <% if (locals.isLoggedIn) { %>
     <div class="logout">
      <a href="/add" class="text-decoration-none d-block bg-success rounded-pill ps-2 pe-2 shadow">+ Produk</a>
      <a href="/logout" class="text-decoration-none d-block bg-danger mt-2 rounded-pill ps-2 pe-2 shadow">Logout</a>
     </div>
    <% } %>

    <script>
      // Show filtered elements
      const addClass = (element, name) => {
        const arr1 = element.className.split(" ");
        const arr2 = name.split(" ");
        for (let i = 0; i < arr2.length; i++) {
          if (arr1.indexOf(arr2[i]) == -1) {
            element.className += " " + arr2[i];
          }
        }
      }

      // Hide elements that are not selected
      const removeClass = (element, name) => {
        const arr1 = element.className.split(" ");
        const arr2 = name.split(" ");
        for (let i = 0; i < arr2.length; i++) {
          while (arr1.indexOf(arr2[i]) > -1) {
            arr1.splice(arr1.indexOf(arr2[i]), 1);
          }
        }
        element.className = arr1.join(" ");
      }

      const filterSelection = c => {
        const x = document.getElementsByClassName("product-card");
        if (c == "all") c = "";
        // Add the "show" class (display:block) to the filtered elements, and remove the "show" class from the elements that are not selected
        for (let i = 0; i < x.length; i++) {
          removeClass(x[i], "show");
          if (x[i].className.indexOf(c) > -1) addClass(x[i], "show");
        }
      }
      filterSelection("all")


      // Add active class to the current control button (highlight it)
      const btnContainer = document.getElementById("myBtnContainer");
      const btns = btnContainer.getElementsByClassName("btn");
      for ( i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function() {
          var current = document.getElementsByClassName("active");
          current[0].className = current[0].className.replace(" active", "");
          this.className += " active";
        });
      }
    </script>